/**********GENERAL**********/
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

:root{
    --color-white: #fff;
    --color-gray: #24262F;
    --color-black: #000;
    --transparent-color: transparent;
    --background-white-blur: rgba(255, 255, 255, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-weight: 400!important;
}

h6{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400!important;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4.5px;
}

.item-menu-list a{
    font-family: 'Barlow Condensed', sans-serif;    
    font-weight: 300;
}

.technology-dot{
    display: none;
}
.owl-dots-show.owl-dots-show{
    display: block;
}
.desktop{
    display: block;
}
.mobile{
    display: none;
}

#header_content{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
}

.menu #menu-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 80px;
} 

.menu #menu-list .item-menu-list{
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.menu #menu-list .item-menu-list.active,
.menu #menu-list .item-menu-list:hover{
    border-bottom: 2px solid var(--color-white);
}

.menu{
    background-color: var(--background-white-blur);
    backdrop-filter: blur(8px);
    padding: 0px 15% 0px 80px;
}

.item-menu-list a{
    text-decoration: none;
    color: var(--color-white);
    padding: 30px;
}

.content_general{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 0 15%;
}

.content_general_left{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 0 0 0 15%; 
}

.content_general_bottom{
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 15%;
}

.content_logo{
    padding-left: 80px;
}

/**********HOME**********/
.background_desktop{
    background-image: url('../home/background-home-desktop.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.background_desktop-destination{
    background-image: url('../destination/background-destination-desktop.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.background_desktop-technology{
    background-image: url('../technology/background-technology-desktop.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.background_desktop-crew{
    background-image: url('../crew/background-crew-desktop.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.container_first{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 200px;
}

.container_two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 150px;
}

.container_four{
    display: flex;
}

.subtitle{
    color: var(--color-white);
    font-size: 25px;
    margin-bottom:20px;
}

.title{
    color: var(--color-white);
    font-size: 150px;
    line-height: 160px;
    margin-bottom:35px;
}

.paragraph{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400!important;
    color: var(--color-white);
    font-size: 16px;
    line-height: 26px;
    width: 85%;
}

.button-circle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--color-white);
    font-size: 35px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in 0.2s;
}

.button-circle:focus{
    outline: none;
}

.button-circle:hover {
    transition: all 0.1s ease-in 0.2s;
    box-shadow: 0px 0px 0px 64px rgba(36,38,47,1);
    -webkit-box-shadow: 0px 0px 0px 64px rgba(36,38,47,1);
-moz-box-shadow: 0px 0px 0px 64px rgba(36,38,47,1);
}

.container_first .content_first:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: end;
}

/**********DESTINATIONS**********/
.content_1, .content_2, .content_3{
    display: none;
}

#image_1, #image_2, #image_3{
    display: none;
}

.tetx-title{
   font-size: 100px;
   line-height: 110px;
   color: var(--color-white);
}

.subtitle_destination{
    font-size: 14px;
   line-height: 24px;
   color: var(--color-white); 
   font-family: 'Barlow Condensed', sans-serif;
   text-transform: uppercase;
}

.distance{
    font-size: 28px;
    line-height: 38px;
    color: var(--color-white);
    font-family: 'Bellefair', serif;
}

.container_two_column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.line-white{
    border: none;
    border-top: 1px solid var(--color-white);
    margin: 50px 0 30px;
}

.number{
    opacity: 0.75;
    margin-right: 20px;
}

.container-tabs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs{
    font-size: 18px;
    line-height: 28px;
    border: none;
    background-color: var(--transparent-color);
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--color-white);
    text-transform: uppercase;
    padding-bottom: 10px;
    cursor: pointer;
}

.tabs:hover{
    border-bottom: 2px solid var(--color-white);
}

.tabs.active{
    border-bottom: 2px solid var(--color-white);
}

#tabs-destination{
    display: flex;
    gap:50px;
    margin-bottom: 50px;
}

#images_destination{
    padding-top: 50px;
}

.content_flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*****************TECHNOLOGY*****************/
.container_three{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:100px;
}

.container_three .flex_content:nth-child(1){
    flex: 0 1 50%;
}

.container_three .flex_content:nth-child(2){
    flex: 0 1 40%;
}

#tabs-technology{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#tabs-technology .tabs-technology {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid var(--color-white);
    border-radius:50%;
    font-size: 20px;
    font-family: 'Bellefair', serif;   
    color: var(--color-white);
    background-color: var(--transparent-color); 
    cursor: pointer;
}

#tabs-technology .tabs-technology.active{
    background-color: var(--color-white);
    color: var(--color-black);  
}

.image-technology{
    margin: 0 0 0 auto;
    height: 500px;
}

.tetx-title-two{
    font-size: 56px;
    line-height: 66px;
    color: var(--color-white);
    margin-bottom: 30px;
}

.content-title{
    width: 100%;
    padding: 120px 0 0;
}

.class_content_tabs{
    display: flex;
    gap: 30px;
}
.padding-bottom{
    padding-bottom:30px;
}
/*************** CREW **************************/
.images_crew{
    position: relative;
}

.images_crew .image-crew{
    width: 100%!important;
    height: auto;
}

.flex-center{
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: flex-start ;
}

.susbtitle-crew{
    color: var(--color-white);
    opacity: 0.5;
    font-size: 32px;
    line-height: 42px;
}

.w-70.w-70{
    width: 70%;
}

.owl-carousel button.owl-dot{
    background: var(--color-white)!important;
    opacity: 0.5;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 20px;
}

.owl-carousel button.active{
    opacity: 1;
}


.owl-nav{
    display: none;
}

.container_four div:nth-child(1){
    flex: 0 1 60%;
}

.container_four div:nth-child(2){
    flex: 0 1 40%;
}

.p-relative{
    position: relative;
}

.technology-dots{
    position: absolute;
    top: 85%;
}

@media only screen and (max-width: 1440px){
    .paragraph{
        width: 90%;
    }
    
    .container_first .content_first:nth-child(2){
        justify-content: end;
    }

    .content_general,.content_general_bottom{
        padding: 0 10%;
    }

    .menu{
        padding: 0px 15% 0px 80px;
    }

    .content_general_left{
        padding: 0 0 0 10%; 
    }

    .container_three{
        gap:50px;
    }
}

@media only screen and (max-width: 1024px){
    #images_destination img{
        width: 80%;
    }
    .content_general, .content_general_bottom {
        padding: 0 5%;
    }
   
}

@media only screen and (max-width: 990px){

    .background_tablet{
        background-image: url('../home/background-home-tablet.jpg');
    }
    
    .background_tablet-destination{
        background-image: url('../destination/background-destination-tablet.jpg');
    }
    
    .background_tablet-technology{
        background-image: url('../technology/background-technology-tablet.jpg');
    }
    
    .background_tablet-crew{
        background-image: url('../crew/background-crew-tablet.jpg');
    }

    .item-menu-list a span{
        display: none;
    }

    .menu {
        padding: 0px 5% 0px 60px;
    }

    .container_first, .container_two {
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        padding-top: 100px;
    }

    .container_first .content_first:nth-child(2) {
        justify-content: center;
        margin-top: 100px;
    }
    .paragraph {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    .subtitle.subtitle{
        text-align: center;
    }
    #images_destination img{
        width: 40%;
        margin: 0 auto;
    }
    #tabs-destination{
        justify-content: center;
        margin-top: 30px;
    }
    #images_technology img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
  
    .container_three{
        flex-direction: column-reverse;
    }

    .container_three .flex_content{
        width: 100%!important;
    }

    .class_content_tabs{
        flex-direction: column;
    }

    #tabs-technology{
        flex-direction: row;
    }
    .tetx-title-two{
        text-align: center  ;
    }

    .content-title {
        width: 100%;
        padding: 100px 10% 40px;
    }

    .paragraph-mobile {
        width: 45%;
    }

    .container_four {
        flex-direction: column;
    }

    .images_crew .image-crew {
        width: 60%!important;
        margin: 0 auto;
    }
    .flex-center {
        align-items: center;
    }   
  
  
    .content_general_bottom{
        height: auto;
        padding: 220px 0px 0;
    }
    .content_general_left{
        height: auto;
        padding: 220px 0px;
        justify-content: start;
    }
    .content_general_tablet {
        height: auto;
        padding: 220px 30px;
    }

    .technology-dots{
        top: calc(40% - 100px) ;
        left: 50%;
        transform:  translate(-50%, -40%  );
    }
    .container_four div:nth-child(1) {
        flex: 0 1 60%;
        margin-bottom: 100px;
    }   
}

@media only screen and (max-width: 675px){
    
    .background_mobile{
        background-image: url('../home/background-home-mobile.jpg');
    }
    
    .background_mobile-destination{
        background-image: url('../destination/background-destination-mobile.jpg');
    }
    
    .background_mobile-technology{
        background-image: url('../technology/background-technology-mobile.jpg');
    }
    
    .background_mobile-crew{
        background-image: url('../crew/background-crew-mobile.jpg');
    }
    .content_general,.content_general_tablet {
        height: auto;
        padding: 150px 30px;
    }
    .content_general_bottom{
        padding: 150px 30px;
    }
    .title {
        font-size: 80px;
        line-height: 90px;
    }

    .subtitle.subtitle {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .content_first{
        text-align: center;
    }

    .paragraph{
        width: 100%;
    }

    .content_logo {
        padding-left: 30px;
    }

    .container_first .content_first:nth-child(2) {
        margin-top: 50px;
    }

    .button-circle {
        width: 150px;
        height: 150px;
        font-size: 25px;
    }

    .button-circle:hover {
        transition: all 0.1s ease-in 0.2s;
        box-shadow: 0px 0px 0px 35px rgb(36 38 47);
        -webkit-box-shadow: 0px 0px 0px 35px rgb(36 38 47);
        -moz-box-shadow: 0px 0px 0px 35px rgba(36,38,47,1);
    }
    .open{
        display: none;
    }

    .close{
        display: block;
    }

    .svg_burger {
        padding-right: 30px;
        z-index: 10;
        cursor: pointer;
    }

    .menu-mobile{
        position: fixed;
        background: black;
        width: 100%;
        height: 100%;
        top: 0;
        visibility: hidden;
        z-index: -1;
    }

    #menu-list-mobile{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    #menu-list-mobile .item-menu-list.active,
    #menu-list-mobile .item-menu-list:hover{
        border-bottom: 2px solid var(--color-white);
    }

    .item-menu-list a{
        font-size: 30px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding: 0px;
    }

    .item-menu-list a span {
        display: block;
    }

    .tetx-title {
        font-size: 60px;
        line-height: 60px;
    }
 
    .container_first, .container_two {
        padding-top: 50px;
    }

    #images_destination img {
        width: 70%;
    }

    .container_two_column {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }

    .content-title {
        width: 100%;
        padding: 0px;
    }

    .tetx-title-two {
        font-size: 30px;
        line-height: 40px;
    }

    .w-70.w-70 {
        width: 100%;
    }

    .container_four {
        flex-direction: column-reverse;
    }

    .container_four div:nth-child(1) {
        margin-top: 50px;
    }

    .images_crew{
        border-bottom: 1px solid var(--color-white);
        margin-bottom: 50px;
    }

    .images_crew .image-crew {
        width: 70%!important;
    }

  

    .owl-carousel button.owl-dot {
        width: 10px;
        height: 10px;
    }

    .susbtitle-crew {
        font-size: 20px;
        line-height: 30PX;
    }

    #images_technology img {
        height: 150px;
    }
    .content_technology{
        padding: 0px 30px;
    }

    #tabs-technology .tabs-technology {
        width: 50px;
        height: 50px;
    }
    .container_three .flex_content{
        margin: 30px;
    }

    .container_three {
        gap: 0px;
    }

    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .padding_mobile{
        padding: 200px 30px;
    }
    
    .technology-dots{
        top: calc(35% + 80px) ;
        transform:  translate(-50%, -35%  );
    }
}


@media only screen and (max-width: 420px){
    .padding_mobile{
        padding: 100px 30px;
    }
    .technology-dots{
        top: calc(39% + 80px) ;
        transform:  translate(-50%, -39%  );
    } 
}

@media only screen and (max-width: 380px){
    
    .technology-dots{
        top: calc(30% + 80px) ;
        transform:  translate(-50%, -30%  );
    } 
}

@media only screen and (max-width: 280px){
    .padding_mobile{
        padding: 100px 30px;
    }
    
    
    .content_general,.content_general_tablet {
        height: auto;
        padding: 150px 10px;
    }
    .content_general_bottom{
        padding: 150px 10px;
    }
}